* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: "Inter";
  max-width: 480px !important;
}

video,
body {
  max-width: none !important;
}

button {
  background-color: transparent;
  border: none;
}

a,
button {
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
